credentials:
  usernames:
    email_or_username1:
      name: name_of_user
      password: hashed_password

    email_or_username2:
      name: name_of_user
      password: hashed_password
cookie:
  expiry_days: 30
  key: random_signature_key # Must be string
  name: random_cookie_name

preauthorized: